/* CSS var and font */
:root{
    font-family:'Nunito',sans-serif;
}
/* Reset CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Importance smooth */
html {
    scroll-behavior: smooth; 
}